<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>小说快速阅读</title>
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/list.css" />
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap-3.3.0/css/bootstrap.min.css" />
	</head>
	<body class="container">
		<div class="list">
			<div class="logo clear">
				<img class="index-logo" src="../images/logo.png" />
			</div>
			<ul class="ll">
				<li>
					<a href="readw">
						<img src="../images/4757.jpg" alt="斗罗大陆" title="斗罗大陆" />
						<h3 class="text name">万古神帝</h3>
						<h4 class="text author"><span>作者：</span><span>飞天鱼</span></h4>
						<p class="text description">万古神帝简介: 八百年前，明帝之子张若尘，被他的未婚妻池瑶公主杀死，一代天骄，就此陨落。八百年后，张若尘重新活了过来，却发现曾经杀死他的未婚妻， 已经统一昆仑界.</p>
					</a>
				</li>
				<li>
					<a href="readw">
						<img src="../images/4757.jpg" alt="斗罗大陆" title="斗罗大陆" />
						<h3 class="text name">万古神帝</h3>
						<h4 class="text author"><span>作者：</span><span>飞天鱼</span></h4>
						<p class="text description">万古神帝简介: 八百年前，明帝之子张若尘，被他的未婚妻池瑶公主杀死，一代天骄，就此陨落。八百年后，张若尘重新活了过来，却发现曾经杀死他的未婚妻， 已经统一昆仑界.</p>
					</a>
				</li>
				<li>
					<a href="readw">
						<img src="../images/4757.jpg" alt="斗罗大陆" title="斗罗大陆" />
						<h3 class="text name">万古神帝</h3>
						<h4 class="text author"><span>作者：</span><span>飞天鱼</span></h4>
						<p class="text description">万古神帝简介: 八百年前，明帝之子张若尘，被他的未婚妻池瑶公主杀死，一代天骄，就此陨落。八百年后，张若尘重新活了过来，却发现曾经杀死他的未婚妻， 已经统一昆仑界.</p>
					</a>
				</li>
			</ul>
			<div class="shuoming">该网站仅用于学习交流使用，如侵删！</div>
		</div>
	</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.js"></script>
<script src="https://cdn.bootcss.com/sweetalert/2.1.2/sweetalert.min.js"></script>
